<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - CFD Penney</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" href="~/images/favicon-32x32.png">
    <link rel="shortcut icon" href="~/images/favicon-32x32.png">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/landing-main.css" asp-append-version="true">
    <script src="https://unpkg.com/lucide@latest"></script>
    
    @RenderSection("Head", required: false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
