/* ============================================
   MAIN CSS FILE - Imports all modules
   ============================================ */

@import url('variables.css');
@import url('base.css');
@import url('utilities.css');
@import url('header.css');
@import url('annotate/annotate-toolbar.css');
@import url('annotate/annotate-canvas.css');
@import url('annotate/annotate-shapes.css');
@import url('annotate/annotate-mobile.css');
@import url('annotate/annotate-camera.css');
@import url('annotate/annotate-participants.css');
@import url('modal.css');
