/* ============================================
   MAIN CSS FILE - Imports all modules
   ============================================ */

@import url('variables.css');
@import url('base.css');
@import url('utilities.css');
@import url('animations.css');
@import url('loading.css');
@import url('header.css');
@import url('components/buttons.css');
@import url('components/inputs.css');
@import url('components/cards.css');
@import url('components/badges.css');
@import url('tooltips.css');
@import url('toast.css');
@import url('confirmDialog.css');
@import url('annotate/annotate-toolbar.css');
@import url('annotate/annotate-canvas.css');
@import url('annotate/annotate-shapes.css');
@import url('annotate/annotate-mobile.css');
@import url('annotate/annotate-camera.css');
@import url('annotate/annotate-participants.css');
@import url('annotate/annotate-chat.css');
@import url('modal.css');
